
.card {
  margin: 8px auto 8px auto;
  display: block;
  max-width: 340px;
}

.card-img-top {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.results-panel .fas,
.btn-reset {
  text-align: center;
  display: block;
  margin: 10px auto 0 auto;
}

.computerFace {
  margin-bottom: 10px;
}

.modal-dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  height: 80%;
  width: 80%;
}

.rm-btn {
  background: #7386d5;
  border: 1px solid #546094;
  border: 0;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  margin: 0 0 0 3px;
}

.game-board {
  display:flex;  
  flex-wrap:wrap;
  margin: 10px auto 10px auto;
  width: 200px;
  height: 200px;
  padding: 0;
}

.game-board div {
  flex-basis:33%;
  background: lightgrey;
  border: 1px solid black;
}

.game-board div:hover {
  cursor: pointer;
  background: lightgreen;
}

.game-board div.taken:hover {
  cursor: not-allowed;
  background: lightcoral;
}